.hero{
    width: 100%;
    height: 100vh;
}
.hero-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.newsletter{
    padding: 20px;
}
.Home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}